.App {
  text-align: center;
}

.App-header {
  background-color: #ffb6c1;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #2A2A2A;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Board-trim {
  display: flex;
  flex-direction: row;
}

.Board-playable {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Board-row {
  display: flex;
  flex-direction: row;
}

.Board-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4vmin;
  min-width: 4vmin;
  border: 1px solid;
  cursor: pointer;
  font-size: 2vmin;
}

.popup {
  position: fixed;
  padding: 32px;
  width: 30%;
  max-width: 640px;
  background-color: #2A2A2A;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
}